---
import { twMerge } from 'tailwind-merge';
import clsx from 'clsx';
import hljs from 'highlight.js';
import '../../styles/vsc-dark-plus.css';

interface Props {
  lang: string;
  code: string;
}

const { lang: origLang, code: origCode } = Astro.props;

const [lang, title] = origLang.split(':');
const highlighted = lang
  ? hljs.highlight(origCode, {
      language: lang,
    }).value
  : hljs.highlight(origCode, {
      language: 'plaintext',
    }).value;

// add line numbers
const code =
  '<table>' +
  highlighted
    .split('\n')
    .map(
      (line, i) =>
        `<tr><td class="text-right pr-4 select-none">${
          i + 1
        }</td><td>${line}</td></tr>`,
    )
    .join('\n') +
  '</table>';

const preClasses = twMerge(
  `hljs language-${lang} text-sm p-4 shadow-lg overflow-x-auto`,
  clsx({
    'rounded-b-xl': title,
    'rounded-e-xl': title,
    'rounded-xl': !title,
  }),
);
---

<div class="my-6">
  {
    title && (
      <span class="bg-neutral text-neutral-content px-3 py-1 rounded-t-xl shadow-xl">
        {title}
      </span>
    )
  }

  <pre class={preClasses}><code set:html={code} /></pre>
</div>
