---
import { twMerge } from 'tailwind-merge';
import clsx from 'clsx';
import Prism from 'prismjs';
import loadLanguages from 'prismjs/components/index';
import 'prism-themes/themes/prism-vsc-dark-plus.css';

interface Props {
  lang: string;
  code: string;
}

const { lang: origLang, code: origCode } = Astro.props;

loadLanguages();

const [lang, title] = origLang.split(':');
const highlighted = lang
  ? Prism.highlight(origCode, Prism.languages[lang] ?? {}, lang)
  : Prism.highlight(origCode, {}, 'plaintext');

// add line numbers
const code =
  '<table>' +
  highlighted
    .split('\n')
    .map(
      (line, i) =>
        `<tr><td class="text-right pr-4 select-none text-vsc-dark-content">${
          i + 1
        }</td><td>${line}</td></tr>`,
    )
    .join('\n') +
  '</table>';

const preClasses = twMerge(
  `language-${lang} !m-0 text-sm p-4 overflow-x-auto`,
  clsx({
    'rounded-b-xl': title,
    'rounded-e-xl': title,
    'rounded-xl': !title,
  }),
);
---

<div class="my-6 shadow">
  {
    title && (
      <span class="text-gray-200 px-3 py-1 rounded-t-xl bg-vsc-dark text-sm">
        {title}
      </span>
    )
  }

  <pre class={preClasses}><code set:html={code} /></pre>
</div>
