---
import type { Page } from 'astro';
import { getPaginationItemList } from '../utils/pagination.ts';

interface Props {
  currentPage: number;
  lastPage: number;
  hrefPrefix: string;
}

const { currentPage, lastPage, hrefPrefix } = Astro.props;
const prev = currentPage > 1 ? currentPage - 1 : null;
const next = currentPage < lastPage ? currentPage + 1 : null;
const pageTextList = getPaginationItemList(currentPage, lastPage);
---

<div class="join">
  {
    prev && (<a class="join-item btn" href={`${hrefPrefix}${prev}`}>&lt;</a>)
  }
  {
    !prev && (<span class="join-item btn btn-disabled">&lt;</span>)
  }
  {
    pageTextList.map((pageText) => {
      if (pageText === currentPage.toString()) {
        return <span class="join-item btn btn-neutral no-animation">{pageText}</span>;
      } else if (pageText === '...') {
        return <div class="join-item bg-base-200 px-4 py-2">{pageText}</div>;
      } else {
        return (
          <a class="join-item btn" href={`${hrefPrefix}${pageText}`}>
            {pageText}
          </a>
        );
      }
    })
  }
  {
    next && (<a class="join-item btn" href={`${hrefPrefix}${next}`}>&gt;</a>)
  }
  {
    !next && (<span class="join-item btn btn-disabled">&gt;</span>)
  }
</div>
